@import url(../BlogPost/blogPost.css);
@import url(../Home/styles.css);
@import url(topnav.css);
@import url(../Blog/blog.css);
@import url(blogGrid.css);
   /* * {
    border: 1px solid red !important;
}        */

body {
    margin: 0;
    padding: 0;
}

h3{
    padding-left: 6px;
    margin-bottom: 0;
}

